/* header{
  width: 100%;

  background: #0000
} */



body
{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 90px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(7, 7, 7, 0.5)),url('../images/silhouette-of-mountains-1323550.jpg');  
    background-color: #0000;
    background-repeat: no-repeat;
    box-shadow: 0 0 5px gray;
    background-size: cover;
}

nav ul{
    list-style: none;
    
}
nav ul li{
    display: inline-block;
    padding: 16px 16px;
    line-height: 50px;
    font-size: 30px;
    color: black;
    font-weight: 600;
}
nav ul li a{
    color: #d0d0d0;
}
nav ul li a:hover{
    text-decoration: none;
    
}
#contact{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(7, 7, 7, 0.5)),url('../images/silhouette-of-mountains-1323550.jpg');  
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 120vh;
    padding: 80px 0 ;
    padding-top: 10px;
    padding-bottom: 0;
}



#contact form{
  border: 2px solid rgb(181, 173, 173);
  border-radius: 5px;
  padding: 20px;
  padding-bottom:0px;
}

#contact form button{
  
justify-content: center;
margin-left: 160px;
/* background: linear-gradient(to right, #ff0066 0%, #ffff00 100%); */
background-color: #0000;
}

#contact form button:hover{
 background: linear-gradient(to right, #ff0066 0%, #ffff00 100%); 
}

#contact label{
  padding-top: 30px;
}

#contact .form-control{
 background-color: #29212200;
}

.card-body h1{
  font-size: 30px;      
  color: #fff;    
  margin: 0px;
  padding:0px;
  text-align: left;
}

.card-body .fa{
  margin-right: 20px;
}

.card-body{
  border-radius: 2px;
  color: #e5eef7;
  background:transparent;
  background: linear-gradient(to bottom, #2f90b1 0%, #612a45 100%);
}


/* footer */
.footer{
  padding: 50px 20px 15px;
  background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/gettyimages-922953742-1024x1024.jpg); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color:#99AAAB;
  width: 100%;
  height: 40%;
  margin:0px;
}

.footer h4{
  text-align: left;
  margin-top: 15px;
  margin-bottom: 25px;
}

.footer p{
  font-size: 12px;
  text-align: justify;
  color:#99AAAB;
  padding-right: 35px;
  }


.footer .row .fa{
  padding-right: 15px;
  font-size: 15px;
}

.footer hr{
  margin-top: 10px;
  background: #efefef;
}

.fa-heart{
  margin: 0 5px;
  color: #f44336;
}

.fa-heart:hover{
  font-size: 30px;
}

.footer .copyright{
  text-align: center;
}


.footer ul{
  list-style: circle;
  color: yellow;
}

.footer ul li p{
  font-size: 10px;
  list-style: none;
  margin: 0;
  padding: 10px;
}

.footer ul li p:hover{
  color: tomato;
  font-size: 13px;
}
.footer img{
  width: 70%;
  margin-bottom: 3px;
  
  
}




