@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Indie+Flower|Lobster|Pacifico|Roboto&display=swap');

body
{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

.main{
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  .main video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .main .container {
    position: relative;
    z-index: 2;
  }
  
  .main .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }
/* Navbar */




header{
    width: 100%;
    height: 90px;
    box-shadow: 0 0 10px gray;
    background-color: white;
}

nav ul{
    list-style: none;
    float: right;
    
}
 nav img{
    margin-top: 13px;
    width: 200px;
    margin-left: 35px;
}
nav ul li{
    display: inline-block;
    padding: 16px 16px;
    line-height: 50px;
    font-size: 17px;
    font-family: cursive;
    color: black;
    font-weight: 600;
}
nav ul li a{
    color: #3e8799;
}

nav ul li a:hover{
    text-decoration: none;
    color:#a90d0d;
    
}


.captions{
    
    width: 100%;
    height: 100vh;
    padding: 0px 10px;
    margin: 0;
   
}


/* 
tourplan */


.tourplan{
     padding: 50px 300px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(7, 7, 7, 0.5)),url('../images/rocks-on-seashore-3938947.jpg');  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .title{
        margin-top: 10px;
        padding: 20px;
        letter-spacing: 3;
        font-family: 'Lobster', cursive;
    }

    .tourplan i{
        color:black;
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    
        background-color: #4e4c4c;
        border-color: #dee2e6 #dee2e6 #fff;
        border-radius: 20px;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #495057;
        background-color: #442c2c;
        border-color: #dee2e6 #dee2e6 #fff;
    }
#myTab{
    padding: 20px;
}

#myTab li a{
    text-decoration: none;
    font-size: 20px;
    color: #ff0018;
    margin: 0 20px;
    font-weight: 500;
}

#planned{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(7, 7, 7, 0.5));  
    padding: 30px;
    border-radius: 20px;
}

.btn{
    margin-left: 350px;
}
#planned .form-control{
    background-color: #29212200;
    color: white;
   }
#surprise .form-control{
    background-color: #29212200;
    color: white;
   }
#road .form-control{
    background-color: #29212200;
    color: white;
   }
.tab-content label{
    color: white;
}
#surprise{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(7, 7, 7, 0.5));
    padding: 30px;
    border-radius: 20px;
}

#road{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(7, 7, 7, 0.5));  
    padding: 30px;
    border-radius: 20px;
}





/* services */

.services{
    background: #fff;
    text-align: center;
   
}


.services h1{
    padding-top: 20px;
    font-size: 30px;
   
    margin-bottom: 0;
}

.services h3{
    margin-top: 0;
    color:  #3489db;;
    font-weight: 900;
}

.cen{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.service{
    display: inline-block;
    width: calc(100% /3);
    margin: 0 -2px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s;
}

.service:hover{
    background: #ddd;
}

.service i{
    color: #3489db;
    font-size: 70px;
    margin-bottom: 30px;
}
.service h2{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}

.service p{
    color: gray;
    font-size: 15px;
    font-weight: 500;
}



/* gallery */

.gallery{
    padding: 50px 0;
    background: #efefef;
    width: 100%;
    
}

.gallery h1{
    margin-top:2px;
 
}

.gallery .fa{
    color: #400202;
}
.filter{
 margin-bottom: 20px;   
}
.filter ul{
    list-style: none;
    margin: 40px 100px 40px;
}

#filters li{
    display: inline;
    margin: 40px;
    box-shadow: 2px 2px 2px 2px ;
    background-color: #2f2f2f;
    padding: 10px 30px;
  
}
#filters li a{
    list-style: none;
    text-decoration: none;
    color: #ffff;
    font-weight: 1000;
    font-family: cursive;
    font-size: 25px;
}

.gallery-box img {
    width: 250px;
    border-radius: 10px;
    height:200px;
    cursor: pointer;
    transition: 1s;
}

.gallery-box img:hover{
    transform: scale(1.1);
}

.gallery-box h4{
font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 80%;
    left: 50%;
    color: white;
    text-shadow: -2px 2px 2px #000;
    transform: translate(-50%,-50%);
    display: block;
}

.gallery-box{
    position: relative;
    margin-bottom: 30px;
}

#days {
    font-size: 15px;
    margin-top: 20px;
    color: #00d7f9;
}
 
.gallery .more{
    margin-left: 45%;
    background-color: white;
    border-radius: 15px;
    padding: 8px;
    font-weight: 500;
    box-shadow: 2px 2px 4px grey;
}


/* video */

.video{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/FreeVector-Travel-Background.jpg);
    height: 600px;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    
}
.video h1 {
    color:white;
    font-size: 30px;
    text-decoration: underline;
    margin-left: 40px;
    margin-top: 20px;
}

.video .desc {
    color:#fff;
    margin-left:40px;
    text-align: justify;
}
.video h1 strong{
    font-family: 'Times New Roman', Times, serif;
    color:white;
    font-size: 48px;
    font-style: bold; 
   
}

.video button{
    border-radius: 15px;
    color:white;
    padding: 5px 10px;
    background: linear-gradient(to right, #ff3300 0%, #ff9933 83%);
    justify-content: center;
    margin-top: 10px;
    margin-left: 250px;
    margin-bottom: 20px;
    border: 1px solid;
}


.video iframe{
    align-items: center;
    width: 85%;
    height: 65%;
    margin-right: 50px;
    margin: 150px 20px 100px 40px;
}

.video .tagline h1 {
    font-size: 35px;
    text-decoration: none;
    margin-left: 50px;
}

/* Customer review */

.reviews{
    margin: 20px;
}
.reviews img{
border-radius: 50%;
width: 150px;
margin-left: 70px;
height: 150px;
margin-top: 20px;
padding: 0;
}

.reviews .card{
   padding: 10px 0 10px;
   height: 400px;
   width: 300px;
   margin:20px 20px;
   background: #f8f9fa;
}

.reviews .card:hover{
    box-shadow: 0 0 5px 5px #e7e7e4;
}

.feedback p{
    margin: 10px 0 5px;
}

.feedback small{
 padding-left: 80px;   
    font-size: 15px;
    
}
/* footer */

.footer{
    padding: 50px 100px 15px;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/gettyimages-922953742-1024x1024.jpg); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color:#99AAAB;
    width: 100%;
    height: 50%;
  }
  
  .footer h4{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  
  .footer p{
    font-size: 12px;
    text-align: justify;
    color:#99AAAB;
    padding-right: 35px;
    }
  
  
  .footer .row .fa{
    padding-right: 15px;
    font-size: 15px;
  }
  
  .footer hr{
    margin-top: 10px;
    background: #efefef;
  }
  
  .fa-heart{
    margin: 0 5px;
    color: #f44336;
  }
  
  .fa-heart:hover{
    font-size: 30px;
  }
  
  .footer .copyright{
    text-align: center;
  }
  
  
  .footer ul{
    list-style: circle;
    color: yellow;
  }
  
  .footer ul li p{
    font-size: 10px;
    list-style: none;
    margin: 0;
    padding: 10px;
  }
  
  .footer ul li p:hover{
    color: tomato;
    font-size: 13px;
  }
  .footer img{
    width: 70%;
    margin-bottom: 3px;
    
    
  }



